* {
	padding: 0;
	margin: 0;
}

ul {
	list-style: none
}

textarea {
	font: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	resize: none;
	background: none;
	border: none;
	outline: none;
}

button {
	font: inherit;
	color: inherit;
	text-align: inherit;
	cursor: pointer;
	user-select: none;
	background: none;
	border: 0;
}

@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 100 900;
	src: url("./assets/Inter-roman.var.woff2?v=3.19") format("woff2");
	font-display: swap;
	font-named-instance: 'Regular';
}

@font-face {
	font-family: Inter;
	font-style: italic;
	font-weight: 100 900;
	src: url("./assets/Inter-italic.var.woff2?v=3.19") format("woff2");
	font-display: swap;
	font-named-instance: 'Italic';
}

:root {
	--s-font-size: 40px;
	--s-font-weight: 400;
	--s-line-height: 48px;

	--s-color-body: #f2f2f2;
	--s-color-muted: #959595;
	--s-color-border: #3a3a3a;
	--s-color-placeholder: #747474;
	--s-color-background: #121212;
	--s-color-button-background: #222222;
	--s-color-button-hover-background: #3a3a3a;
	--s-color-button-active-background: #484848;

	--s-color-post-background: #000000;
	--s-color-post-button-background: transparent;
	--s-color-post-button-hover-background: #161616;
	--s-color-post-button-active-background: #2e2e2e;
}

::placeholder {
	font-weight: var(--s-font-weight);
	color: var(--s-color-placeholder);
}

html {
	padding: 20px 20px 80px;
	font-family: Inter, -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: var(--s-font-size);
	font-weight: var(--s-font-weight);
	line-height: var(--s-line-height);
	color: var(--s-color-body);
	background: var(--s-color-background);
}

.s-visually-hidden {
	position: absolute !important;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}
